@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	   url("../fonts/Flaticon.woff") format("woff"),
	   url("../fonts/Flaticon.ttf") format("truetype"),
	   url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}
.flaticon-apartment:before { content: "\f100"; }
.flaticon-apple:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-arrow-1:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-10:before { content: "\f106"; }
.flaticon-arrows-2:before { content: "\f107"; }
.flaticon-arrows-3:before { content: "\f108"; }
.flaticon-arrows-4:before { content: "\f109"; }
.flaticon-arrows-5:before { content: "\f10a"; }
.flaticon-arrows-6:before { content: "\f10b"; }
.flaticon-arrows-7:before { content: "\f10c"; }
.flaticon-arrows-8:before { content: "\f10d"; }
.flaticon-arrows-9:before { content: "\f10e"; }
.flaticon-attach:before { content: "\f10f"; }
.flaticon-ball:before { content: "\f110"; }
.flaticon-ball-1:before { content: "\f111"; }
.flaticon-bars:before { content: "\f112"; }
.flaticon-business:before { content: "\f113"; }
.flaticon-business-1:before { content: "\f114"; }
.flaticon-check:before { content: "\f115"; }
.flaticon-check-1:before { content: "\f116"; }
.flaticon-circle:before { content: "\f117"; }
.flaticon-clip:before { content: "\f118"; }
.flaticon-cloud:before { content: "\f119"; }
.flaticon-cloud-1:before { content: "\f11a"; }
.flaticon-commerce:before { content: "\f11b"; }
.flaticon-computer:before { content: "\f11c"; }
.flaticon-cup:before { content: "\f11d"; }
.flaticon-flag:before { content: "\f11e"; }
.flaticon-flash:before { content: "\f11f"; }
.flaticon-interface:before { content: "\f120"; }
.flaticon-interface-1:before { content: "\f121"; }
.flaticon-interface-2:before { content: "\f122"; }
.flaticon-interface-3:before { content: "\f123"; }
.flaticon-link:before { content: "\f124"; }
.flaticon-map:before { content: "\f125"; }
.flaticon-mark:before { content: "\f126"; }
.flaticon-medal:before { content: "\f127"; }
.flaticon-medical:before { content: "\f128"; }
.flaticon-medical-1:before { content: "\f129"; }
.flaticon-moon:before { content: "\f12a"; }
.flaticon-mountain:before { content: "\f12b"; }
.flaticon-multimedia:before { content: "\f12c"; }
.flaticon-multimedia-1:before { content: "\f12d"; }
.flaticon-multimedia-2:before { content: "\f12e"; }
.flaticon-multimedia-3:before { content: "\f12f"; }
.flaticon-music:before { content: "\f130"; }
.flaticon-networking:before { content: "\f131"; }
.flaticon-networking-1:before { content: "\f132"; }
.flaticon-networking-2:before { content: "\f133"; }
.flaticon-networking-3:before { content: "\f134"; }
.flaticon-networking-4:before { content: "\f135"; }
.flaticon-paper:before { content: "\f136"; }
.flaticon-paper-1:before { content: "\f137"; }
.flaticon-people:before { content: "\f138"; }
.flaticon-present:before { content: "\f139"; }
.flaticon-printer:before { content: "\f13a"; }
.flaticon-shapes:before { content: "\f13b"; }
.flaticon-sheet:before { content: "\f13c"; }
.flaticon-sheet-1:before { content: "\f13d"; }
.flaticon-sheet-2:before { content: "\f13e"; }
.flaticon-sheet-3:before { content: "\f13f"; }
.flaticon-shield:before { content: "\f140"; }
.flaticon-shopping:before { content: "\f141"; }
.flaticon-signs:before { content: "\f142"; }
.flaticon-squares:before { content: "\f143"; }
.flaticon-squares-1:before { content: "\f144"; }
.flaticon-symbol:before { content: "\f145"; }
.flaticon-target:before { content: "\f146"; }
.flaticon-technology:before { content: "\f147"; }
.flaticon-technology-1:before { content: "\f148"; }
.flaticon-technology-2:before { content: "\f149"; }
.flaticon-technology-3:before { content: "\f14a"; }
.flaticon-technology-4:before { content: "\f14b"; }
.flaticon-technology-5:before { content: "\f14c"; }
.flaticon-technology-6:before { content: "\f14d"; }
.flaticon-technology-7:before { content: "\f14e"; }
.flaticon-time:before { content: "\f14f"; }
.flaticon-tool:before { content: "\f150"; }
.flaticon-transport:before { content: "\f151"; }
.flaticon-transport-1:before { content: "\f152"; }
.flaticon-unlocked:before { content: "\f153"; }
.flaticon-unlocked-1:before { content: "\f154"; }
.flaticon-vimeo:before { content: "\f155"; }
.flaticon-weather:before { content: "\f156"; }
.flaticon-weight:before { content: "\f157"; }
.flaticon-window:before { content: "\f158"; }
.flaticon-window-1:before { content: "\f159"; }